In [ ]:

# Example 1
# for x in range(2, 10, 3):
#   print(x,end= “ ”)
# Output:
# 2 5 8

# Example 1: Print numbers from 2 to 10 with a step of 3
for x in range(2, 10, 3):
  print(x, end=" ")

2 5 8

In [ ]:
# Example 2
# for x in range(2, 10):
#   print(x,end= “ ”)
# Output:
# 2 3 4 5 6 7 8 9

# Example 2: Print numbers from 2 to 9
for x in range(2, 10):
  print(x, end=" ")

2 3 4 5 6 7 8 9

In [ ]:
#Example 3
# for x in range(10):
#   print(x,end= " ")
# Output:
# 0 1 2 3 4 5 6 7 8 9

# Example 3: Print numbers from 0 to 9
for x in range(10):
  print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# Implement the following series using for loop. Your program should be well commented. Use proper variable names. Your output interface must be user friendly.
# 1.	1 2 3 4 5 6…n
# 2.	1 3 5 7 9…n
# 3.	-1 3 -5 7 -9…n

# Series 1: 1 2 3 4 5 6...n
n = int(input("Enter the value of n for series 1: "))  # Get input from the user
print("Series 1: ", end="")
for i in range(1, n + 1):  # Iterate from 1 to n (inclusive)
    print(i, end=" ")  # Print the current number with a space
print()  # Print a newline for better formatting


# Series 2: 1 3 5 7 9...n
n = int(input("Enter the value of n for series 2: "))
print("Series 2: ", end="")
for i in range(1, n + 1, 2):  # Iterate from 1 to n with a step of 2
    print(i, end=" ")
print()


# Series 3: -1 3 -5 7 -9...n
n = int(input("Enter the value of n for series 3: "))
print("Series 3: ", end="")
for i in range(1, n + 1):
    if i % 2 == 0:  # If i is even
        print(i, end=" ")
    else:  # If i is odd
        print(-i, end=" ")
print()

Enter the value of n for series 1: 4
Series 1: 1 2 3 4
Enter the value of n for series 2: 5
Series 2: 1 3 5
Enter the value of n for series 3: 10
Series 3: -1 2 -3 4 -5 6 -7 8 -9 10

In [ ]:
#  Example code to demonstrate summation of series:
# s=0
# for x in range(2, 10, 3):
#   s=s+x
# print(“The summation of the series is”,s)

# Example code to demonstrate summation of series:
s = 0
for x in range(2, 10, 3):
  s = s + x
print("The summation of the series is", s)


# Example code to demonstrate summation of series:
s = 0
for x in range(1, 10):
  s = s + x
print("The summation of the series is", s)

# Example code to demonstrate summation of series:
s = 0
for x in range(-1, 10):
  s = s + x
print("The summation of the series is", s)

The summation of the series is 15
The summation of the series is 45
The summation of the series is 44

In [ ]:
#Code to print the summation of the following series. Your program should be well commented. Use proper variable names. Your output interface must be user friendly.
# 0+1+2+3+4+…n
# -1+2-3+4-5+6-7…n

# Series 1: 0 + 1 + 2 + 3 + 4 + ... + n
n = int(input("Enter the value of n for series 1: "))  # Get input from the user
sum_series1 = 0
for i in range(n + 1):  # Iterate from 0 to n (inclusive)
    sum_series1 += i  # Add the current number to the sum
print("The summation of series 1 (0+1+2+...+n) is:", sum_series1)


# Series 2: -1 + 2 - 3 + 4 - 5 + 6 - 7 + ... + n
n = int(input("Enter the value of n for series 2: "))
sum_series2 = 0
for i in range(1, n + 1):
    if i % 2 == 0:  # If i is even
        sum_series2 += i
    else:  # If i is odd
        sum_series2 -= i
print("The summation of series 2 (-1+2-3+...+n) is:", sum_series2)

Enter the value of n for series 1: 55
The summation of series 1 (0+1+2+...+n) is: 1540
Enter the value of n for series 2: 1
The summation of series 2 (-1+2-3+...+n) is: -1

In [ ]:
# Write a code to print the factorial of a number. Your program should be well commented. Use proper variable names. Your output interface must be user friendly.

# Get input from the user
num = int(input("Enter a number: "))

# Initialize the factorial to 1
factorial = 1

# Check if the number is negative, zero, or positive
if num < 0:
  print("Factorial does not exist for negative numbers")
elif num == 0:
  print("The factorial of 0 is 1")
else:
  # Iterate from 1 to the number (inclusive)
  for i in range(1, num + 1):
    factorial = factorial * i  # Multiply the current number with the factorial
  print("The factorial of", num, "is", factorial)

Enter a number: 3
The factorial of 3 is 6

In [ ]:
# Write code to demonstrate break and continue in python.

# Example of break statement
for i in range(1, 10):
  if i == 5:
    break  # Exit the loop when i is 5
  print(i, end=" ")
print("\nLoop terminated using break when i was", i)


# Example of continue statement
for i in range(1, 10):
  if i == 5:
    continue  # Skip the current iteration when i is 5
  print(i, end=" ")
print("\nLoop continued after skipping i = 5")

1 2 3 4
Loop terminated using break when i was 5
1 2 3 4 6 7 8 9
Loop continued after skipping i = 5