In [ ]:

age = int(input("Enter your Age : "))

if   age < 18:
     print ("I am a teenger")
elif age < 40:
     print ("I am in my young age")
else:
     print ("I am a senior citizen")

Enter your Age : 100
I am a senior citizen

In [ ]:
2>3

False

In [ ]:
2<3

True

In [ ]:
2>=2

True

In [ ]:
2<=2

True

In [ ]:
2!=2

False

In [ ]:
3==3

True

In [ ]:
2+3

5

In [ ]:
3-2

1

In [ ]:
c= 2/2
d = 3//2
e = 3%2
f = 3**2

print (c)
print (d)
print (e)
print (f)

1.0
1
1
9

In [ ]:
a = (2>3) and (4>2)
b = (2>3) or (4>2)
c = not(2>3)
d = not(True)

print (a)
print (b)
print (c)
print (d)

False
True
True
False

In [ ]:
i = 10
b = print(type(i))
c = print(id(i))

print (b)
print (c)

<class 'int'>
135510176547344
None
None

In [ ]:
i=10 #Variable i is implicitly declared as integer type. Variable i is initialized to 10.
j=int(10) #Variable j is explicitly declared as integer type. Variable j is initialized to 10.
k =1.5 # Variable k is implicitly declared as float type. Variable j is initialized to 1.5.
l=float(10.5) # Variable l is implicitly declared as float type. Variable l is initialized to 1.5.
m= 'Anil is a good person' # Variable m is implicitly declared as string type. Variable m is initialized to “Anil is a good person”.
n= str('Anil is a good person') # Variable n is explicitly declared as string type.
o=False # Variable o is implicitly declared as boolean type. Variable o is initialized to False.
p=bool(True) # Variable p is explicitly declared as boolean type. Variable p is initialized to True.
q=10+5j # Variable q is implicitly declared as complex type. Variable q is initialized to 10+5j.
r=complex(10+5j) # Variable r is explicitly declared as complex type. Variable r is initialized to 10+5j.

print (i)
print (j)
print (k)
print (l)
print (m)
print (n)
print (o)
print (p)
print (q)
print (r)

10
10
1.5
10.5
Anil is a good person
Anil is a good person
False
True
(10+5j)
(10+5j)

In [ ]:
a = print(12, "is larger than", 11)
b = print("Sum of",2, "and",3, "is", 2+3)
c = print("Hi\nHi\nHi")
d = print("Hi\tHi\tHi")
e = print("Hi",end= "**")
print("Hi", end= "")
print("Hi")
name = " Alice"
age = 30
print(f"{name} is {age} years old")

12 is larger than 11
Sum of 2 and 3 is 5
Hi
Hi
Hi
Hi	Hi	Hi
Hi**HiHi
 Alice is 30 years old

In [ ]:
i=10.5
print(type(i))
j=int(i)
print(j,type(j))

print (i)
print (j)

<class 'float'>
10 <class 'int'>
10.5
10

In [ ]:
# program to take marks as input from the user and determines the corresponding grade.

while True:
  try:
    marks = int(input("Enter your marks (0-100): "))
    if 0 <= marks <= 100:
      break
    else:
      print("Invalid input. Marks must be between 0 and 100.")
  except ValueError:
    print("Invalid input. Please enter a number.")

if marks > 90 and marks <=100:
  grade = 'A'
elif marks > 70 and marks <=90:
  grade = 'B'
elif marks > 50 and marks <=70:
  grade = 'C'
else:
  grade = 'Fail'

print(f"Your grade is: {grade}")

Enter your marks (0-100): 97
Your grade is: A

In [ ]:
# program to take a number as input and check the number is even or odd

num = int(input("Enter a number: "))
if num % 2 == 0:
  print(num, "is even")
else:
  print(num, "is odd")

Enter a number: 5
5 is odd

In [ ]:
# program to take a number as input. Check whether the number is divisible by both 3 and 7.

num = int(input("Enter a number: "))
if num % 3 == 0 and num % 7 == 0:
  print(num, "is divisible by both 3 and 7")
else:
  print(num, "is not divisible by both 3 and 7")

Enter a number: 33
33 is not divisible by both 3 and 7

In [ ]:
# program to add two complex numbers.

num1 = complex(input("Enter the first complex number: "))
num2 = complex(input("Enter the second complex number: "))

sum = num1 + num2

print("The sum of the two complex numbers is:", sum)

Enter the first complex number: 3+4j
Enter the second complex number: 4+5j
The sum of the two complex numbers is: (7+9j)

In [ ]:
2>3

False